.navbar.navbar-default
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "PERSONAL ADVENTURE", root_path, class:"navbar-brand"
    .navbar-collapse.collapse
      %ul.nav.navbar-nav.navbar-right
        %li= link_to 'Posts', "#"
        %li= link_to 'Events', "#"
        %li= link_to 'Full Calendar', "#"
        %li= link_to 'Calendar Helper', "#"
    / /.nav-collapse